body
{
    line-height: 1;
    font-family: 'Tahoma', Arial;
    background-image:url("../Images/Background.jpg");
    background-size:cover;
    font-size:100.5%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
